label#thumbnail {
    margin-bottom: 20px;
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label#thumbnail input{
    display: none;
}

label#thumbnail.has-thumbnail {
    border: 0;
}

label#thumbnail.has-thumbnail img {
    display: none;
}

/*.logo {
    height: inherit;
    width: inherit;
  }

  #idLogo {
      height: 30px;
      width: 30px;
  }*/